.total_info {
  flex: 0 1 25%;
  font-size: 19px;
  padding: 4px;
}

.first_block {
  border-bottom: 1px solid #726f6f;
}

.first_block > * {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.second_block {

}

.second_block > * {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 600;
}
.addPromo {
  width: 100%;
  padding: 14px;
  border: 2px solid #bbeeaf;
  font-size: 14px;
  font-weight: 600;
  &:focus {
    outline: none;
  }
}


.addPromo_btn {
  padding: 14px;
  background-color: #bbeeaf;
  font-weight: 600;
}

.third_block {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.third_block > *{
  text-align: center;
  width: 100%;
  border: 2px solid #bbeeaf;
  padding: 10px;
  font-weight: 600;
}


.continue_btn {

}

.checkout_btn {
  background-color: #bbeeaf;

}
@media (max-width: 1160px) {
  .total_info {
    margin-top: 60px;
  }
}
