.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.product_photo {
  object-fit: cover;
}
.product_name {
  text-align: center;
  margin: 0 10px;
}
.product_price {
  margin: 10px 0 0 0;
  font-size: 19px;
  border-bottom: 1px solid #4db935;
}
@media (max-width: 950px) {
  .product_photo {
    width: 100%;
    height: auto;
  }
  .product_name {
    font-size: 17px;
  }
}

@media (max-width: 450px) {
  .product_name {
    font-size: 15px;
  }
}