.question_content {
  max-width: 440px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.track {
  padding: 10px;
  border: 1px solid #4db935;
  display: flex;
  justify-content: space-between;

  .track_name {
    text-decoration: underline;
  }
}

