* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

a {
  text-decoration: none;
  color: black;
}

.active_menu_link {
  /*color: darkgoldenrod;*/
  border: 1px solid black;
}
