.header_menu {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  justify-content: space-between;
  z-index: 100;
  position: relative;

}
.logo_img {
  position: relative;
  z-index: 10001;
  margin: 0 160px 0 0;
}


.menu_link > * > *{
  line-height: 1;
  padding: 0.25rem;
  font-size: 19px;

  &:hover {
    color: #4db935;
  }


}
@media (max-width: 870px) {
  .menu_link {
    display: none;
  }
}