.running_strip_container {
  display: flex;
  align-items: center;
  padding: 1px 7px 3px 1px;
  position: relative;
  border-bottom: 1px solid black;
  max-width: 100%;
  overflow: hidden;
  font-size: 17px;

  &:hover {
    .running_strip {
      animation-play-state: paused;
    }

  }

  .running_strip {
    animation: running_strip 10s linear infinite;
    width: 100%;
  }

  .running_strip_btn {
    z-index: 5;
    right: 20px;
    top:20px;
    font-size: 24px;
    cursor: pointer;
  }
}

@keyframes running_strip {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);

  }
}