.shop_page {
  //border-bottom: 1px solid black;
}

.sort_and_filter_btn {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 23px;
  border-bottom: 1px solid black;
}

.sort_and_filter_btn > * {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products > * {
  flex: 0 1 25%;
}

@media (max-width: 1888px) {
  .products > * {
    flex: 0 1 33%;
  }
}

@media (max-width: 1420px) {
  .products > * {
    flex: 0 1 50%;
  }
}
